{% extends "base_accounts.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="card shadow-sm border-0 rounded-0">
                <div class="card-header border-0">
                    Jelszó változtatás
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.id }}
                        {{ form | crispy }}
                      
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Módosítás</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}
