{% extends 'base_auth.html' %}
{% load static %}
{% load i18n %}
{% block title %} Reset | Legisly {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="{% static '/assets/auth/images/logo.png' %}" srcset="{% static '/assets/auth/images/logo.png' %} 2x" alt="logo">
                                <img class="logo-dark logo-img logo-img-lg" src="{% static '/assets/auth/images/logo.png' %}" srcset="{% static '/assets/auth/images/logo.png' %} 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Reset password</h5>
                                        <div class="nk-block-des">
                                            <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method="post" >
                                    {% if messages %}
                                    {% for message in messages %}
                                    <li>
                                        {{ message.tags }} -- {{ message }}
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">Send Reset Link</button>
                                    </div>
                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    <a href="{% url 'login' %}"><strong>Return to login</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6 order-lg-last">
                                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Terms & Condition</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Help</a>
                                        </li>
                                        <form action="{% url 'set_language' %}" method="post" class="form-inline">{% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}">
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                    <select name="language" onchange='this.form.submit()' class="form-control form-control-sm">
                                                        {% get_current_language as LANGUAGE_CODE %}
                                                        {% get_available_languages as LANGUAGES %}
                                                        {% get_language_info_list for LANGUAGES as languages %}
                                                        {% for language in languages %}
                                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected
                                                            {%endif %}>
                                                            {{ language.name_local }} ({{ language.code }})
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--
                                                     <div class="col-auto"><button type="submit" class="btn btn-sm btn-warning"><i
                                                            class="far fa-check-circle"></i>
                                                        Kiválaszt</button>
                                                </div>
                                                -->
                                               
                                            </div>
                                        
                                        </form>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-left">
                                        <p class="text-soft">&copy; 2021 CryptoLite. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    {% endblock %}