{% extends "base_main.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% trans "Add new document" %}
{% endblock %}


{% block content %}


<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="nk-block-head">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">{% trans "Add new document" %}</h3>
                                <div class="nk-block-des text-soft">
                                    <p>{% blocktranslate %}Slugs is used for the URL of the page. Please do not use:
                                        special characters, accents or spaces. Please use hyphen instead of space. For
                                        example: privacy-policy.{% endblocktranslate %}</p>
                                </div>
                            </div>
                            <div class="nk-block-head-content">
                                <a href="{% url 'main:document_index' %}"
                                    class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                        class="icon ni ni-arrow-left"></em><span>{% trans "Back" %}</span></a>
                                <a href="{% url 'main:document_index' %}" class="btn btn-icon btn-outline-light bg-white d-inline-flex
                                        d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-preview">
                        <div class="card-inner">
                            <div class="preview-block">

                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}

                                    <button type="submit" class="btn btn-primary">
                                        {% trans "Publish document"%}
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->



{% endblock %}