<!-- FOOTER BEGIN -->
{% load static %}
{% load i18n %}

<div style="
    width:100%;
    max-width:600px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;">
<p style="font-size: 13px; margin-bottom: 10px;">
    <span style="font-weight: 800; text-transform: uppercase; color:black;">{% trans "Quick links" %}:</span><br>
    <a href="#" target="_blank"><img src="https://www.legisly.com/email_images/login.png" height="10" alt="login"> {% trans "Login to your Legisly account" %}</a> | 
    <a href="#" target="_blank"><img src="https://www.legisly.com/email_images/task.png" height="10" alt="My tasks"> {% trans "My tasks" %}</a> | 
    <a href="#" target="_blank"><img src="https://www.legisly.com/email_images/case.png" height="10" alt="My cases"> {% trans "My cases" %}</a> | 
    <a href="#" target="_blank"><img src="https://www.legisly.com/email_images/consultation.png" height="10" alt="Upcoming consultations">  {% trans "My upcomig consultations" %}</a>
    </p>
    <a href="#" target="_blank" style="background-color:#FDB913;border-radius:4px;color:#ffffff;display:inline-block;font-size:10px;font-weight:600;line-height:30px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 10px; margin: 10px 0px 10px 0px;">{% trans "Open a new legal case" %}</a>
    &nbsp;
    <a href="http://help.legisly.com" target="_blank" style="background-color: seagreen ;border-radius:4px;color:#ffffff;display:inline-block;font-size:10px;font-weight:600;line-height:30px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 10px; margin: 10px 0px 10px 0px;">{% trans "Have a question?" %}</a>
</div>

<table style="width:100%;max-width:620px;margin:0 auto;">
    <tbody>
        <tr>
            <td style="text-align: center; padding:25px 20px 0;">
                <p style="margin-bottom: 15px;">
                    <a href="https://www.legisly.com" target="_blank">www.legisly.com</a>
                </p>
                <p style="font-size: 13px;">{% trans "Copyright © 2020 Legisly Solutions Kft. All rights reserved." %}<br></p>
                <ul style="margin: 10px -4px 0;padding: 0;">
                    <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff" href="https://www.facebook.com/legisly/" target="_blank"><img src="https://www.legisly.com/email_images/facebook.png" height="30" alt="Facebook"></a></li>
                    <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff" href="https://www.instagram.com/legisly" target="_blank"><img src="https://www.legisly.com/email_images/instagram.png" height="30" alt="Instragram"></a></li>
                    <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff" href="https://www.tiktok.com/@legislylegal" target="_blank"><img src="https://www.legisly.com/email_images/tiktok.png" height="30" alt="TikTok"></a></li>
                    <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff" href="https://www.youtube.com/channel/UC7wcLdab_0c1d6Qc9vxtZWw" target="_blank"><img src="https://www.legisly.com/email_images/youtube.png" height="30" alt="YouTube"></a></li>
                </ul>
                <p style="padding-top: 15px; font-size: 10px; line-height: 12px;">
                    {% trans "This e-mail was sent to you as a registered member of" %} <a style="color: #FDB913; text-decoration:none;" href="https://legisly.com">legisly.com</a>. <br>
                    {% trans "The e-mail was automaticaly generated, please do not reply to it." %}</p>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</table>
</center>
</body>
</html>

<!-- FOOTER END -->