{% load static %}
{% include 'email/email_header.html' %}
{% load i18n %}
<!-- BODY BEGIN -->

<tr>
    <td style="padding: 30px 30px 15px 30px;">
        <h2 style="font-size: 18px; color: #FDB913; font-weight: 600; margin: 0;">
            {% trans "A new note has been added to your consultation" %}</h2>
    </td>
</tr>
<tr>
    <td style="padding: 0 30px 20px">
        <p style="margin-bottom: 10px;">{% trans "Dear" %} {{user_obj.first_name}} {{user_obj.last_name}},</p>
        <p style="margin-bottom: 10px;">{{note.user.first_name}} {{note.user.last_name}}
            {% trans "added a new note to your consultation" %} {{meet.name}}.</p>
        <a href="{{DOMAIN}}{% url 'project:project_meet_detail' meet.project.id meet.id %}" target="_blank"
            style="background-color:#FDB913;border-radius:4px;color:#ffffff;display:inline-block;font-size:13px;font-weight:600;line-height:44px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 30px; margin: 20px 0px 20px 0px;">
            {% trans "Check the consultation" %}
        </a>

    </td>
</tr>

<!-- DETAILS START -->

<tr>
    <td>
        <div
            style="padding: 10px; width: 70%; background-color:#f5f6fa; margin: auto; margin-bottom: 30px; border-radius: 8px;">
            <h2 style="font-size: 14px; font-weight: 600; text-transform: uppercase; ">{% trans "Details" %}:</h2>
            <p>
                {% trans "Note created by" %}: {{note.user.first_name}} {{note.note.last_name}}<br>
                {% trans "Consultation name" %}: {{meet.name}}<br>
                {% trans "Consultation description" %}: {{meet.description|safe}}<br>
                {% trans "Meet start" %}: {{meet.meet_start}}<br>
                {% trans "Meet end" %}: {{meet.meet_start}}<br>
                {% trans "Case name" %}: {{meet.project.name}}<br>
                {% trans "Case ID" %}: {{meet.project.id}}<br>
            </p>
        </div>
        <div
            style="padding: 10px; width: 70%; background-color:#f5f6fa; margin: auto; margin-bottom: 30px; border-radius: 8px;">
            <h2 style="font-size: 14px; font-weight: 600; text-transform: uppercase;">{% trans "Content of note" %}:
            </h2>
            <p>
                {{note.content}}
            </p>
        </div>
    </td>
</tr>

<!-- DETAILS END -->

<tr>
    <td style="padding: 30px 30px 15px 30px;">
        <h2 style="font-size: 18px; color: #FDB913; font-weight: 600; margin: 0;">
            {% trans "How to join to the consultation?" %}
        </h2>
        <p>
            {% trans "You can allways check your upcoming consultation on your account by clicking on the" %} <a
                href="{{DOMAIN}}{% url 'project:project_meet_index' meet.project.id %}">
                {% trans "My consultations" %}"
            </a>.
            {% blocktrans %}To join a consultation simply click on the join button.
            <strong>Please always be accurate!</strong>{% endblocktrans %}
        </p>
    </td>
</tr>

<tr>
    <td>
        <p style="margin-bottom: 20px;">
            {% trans "Best regards," %}<br>
            {% trans "Legisly Team" %}
        </p>
    </td>
</tr>
</tbody>
</table>

<!-- BODY END -->

{% include 'email/email_footer.html' %}