{% extends "base_project.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% trans "Messages / Users" %}: {{project.name}}
{% endblock %}
{% block content %}

<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        {% include 'section/project_header.html' %}

        <div class="nk-block">
          <div class="card">
            <div class="card-aside-wrap">
              <div class="card-content">
                {% include 'section/project_navbar.html' %}
                <div class="card-inner">
                  <div class="nk-block-head">
                    <div class="nk-block-between g-3">
                      <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">{% trans "Users in chat" %}</h3>
                        <div class="nk-block-des text-soft">
                          <p>{% trans "Messages and files can be accessed by the following users" %}</p>
                        </div>
                      </div>
                      <div class="nk-block-head-content"><a href="{% url 'project:project_message_index' project.id %}"
                          class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                            class="icon ni ni-arrow-left"></em><span>{% trans "Back" %}</span></a><a
                          href="{% url 'project:project_message_index' project.id %}"
                          class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                            class="icon ni ni-arrow-left"></em></a></div>
                    </div>
                  </div>

                  <table class="datatable-init table">
                    <thead>
                      <tr>
                        <th>{% trans "Id" %}</th>
                        <th>{% trans "E-mail" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Role" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Removable" %}</th>
                        <th>{% trans "Legisly staff" %}</th>


                      </tr>
                    </thead>
                    <tbody>
                      {% for team in teams %}
                      <tr>
                        <th scope="row">{{team.id}}</th>
                        <td>{% if team.email %} {{team.email}} {% endif %}</td>
                        <td>{{team.user.first_name}} {{team.user.last_name}}</td>
                        <td>{{team.get_role_display}}</td>
                        <td>{{team.active}}</td>
                        <td>{{team.is_removable}}</td>
                        <td>{{team.staff}}</td>

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content @e -->

{% endblock %}