{% extends "base_project.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% trans "Consultation details" %}
{% endblock %}


{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                {% include 'section/project_header.html' %}

                <div class="nk-block">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                {% include 'section/project_navbar.html' %}
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <div class="nk-block-head">
                                            <div class="nk-block-between g-3">
                                                <div class="nk-block-head-content">
                                                    <h3 class="nk-block-title page-title">
                                                        {% trans "Consultation details" %}
                                                        {% url 'project:project_meet_detail' project.id meet.id %}
                                                        / <strong class="text-primary small">{{meet.name}}</strong>
                                                    </h3>

                                                </div>
                                                <div class="nk-block-head-content"><a
                                                        href="{% url 'project:project_meet_index' project.id %}"
                                                        class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                                            class="icon ni ni-arrow-left"></em>
                                                        <span>{% trans "Back" %}</span></a><a
                                                        href="{% url 'project:project_meet_index' project.id %}"
                                                        class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                                            class="icon ni ni-arrow-left"></em></a></div>
                                            </div>
                                        </div>

                                        <div class="nk-block-head nk-block-head-line">
                                            <h6 class="title overline-title text-base">{% trans "Information" %}</h6>
                                        </div>
                                        <div class="profile-ud-list" style="max-width: 100%;">
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{% trans "Name" %}</span><span
                                                        class="profile-ud-value">{{meet.name}}</span>
                                                </div>
                                            </div>
                                            {% if meet.url %}
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{% trans "URL" %}</span>
                                                    <span class="profile-ud-value">

                                                        {{meet.url}}
                                                        <a href="{{meet.url}}" class="btn btn-warning">
                                                            <em class="icon ni ni-link" style="margin-right: 5px;"></em>
                                                            &nbsp;{% trans "Join" %}
                                                        </a>

                                                    </span>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">
                                                        {% trans "Created at" %}</span>
                                                    <span class="profile-ud-value">{{meet.created_at}}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">
                                                        {% trans "Starts" %}</span>
                                                    <span class="profile-ud-value">
                                                        {{meet.meet_start}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{% trans "Created by" %}</span><span
                                                        class="profile-ud-value">{{meet.from_user.first_name}}
                                                        {{meet.from_user.last_name}}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">
                                                        {% trans "Ends" %}
                                                    </span><span class="profile-ud-value">
                                                        {{meet.meet_end}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-divider divider md"></div>
                                    <div class="nk-block">
                                        <div class="nk-block-head nk-block-head-line">
                                            <h6 class="title overline-title text-base">{% trans "Description" %}</h6>
                                        </div>
                                        <span class="profile-ud-label">{{meet.description}}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block mt-3">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-inner">
                                <div class="nk-block">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{% trans "Meet" %} /
                                            <strong class="text-primary small">{% trans "Participant" %}</strong>
                                        </h3>
                                    </div>
                                    <div class="row g-4 py-3">
                                        {% for x in meet.to_user.all %}
                                        <div class="col-md-3 col-sm-6">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{x.first_name}} {{x.last_name}}</span>
                                                    <span class="sub-text">{{x.email}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <div class="card-inner">
                                    <div class="nk-block-head-content nk-block-between pb-3">
                                        <h3 class="nk-block-title page-title">Meet / <strong
                                                class="text-primary small">Files</strong></h3>
                                        <a href="{% url 'project:project_meet_create_file' project.id meet.id %}"
                                            class="btn btn-primary btn-xs">+ Add meet File</a>
                                    </div>



                                    <div class="nk-divider md">


                                        <table class="datatable-init nk-tb-list nk-tb-ulist dataTable no-footer"
                                            data-auto-responsive="false" id="DataTables_Table_1"
                                            aria-describedby="DataTables_Table_1_info">
                                            <thead>
                                                <tr class="nk-tb-item nk-tb-head">
                                                    <th class="nk-tb-col sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="User: activate to sort column ascending"><span
                                                            class="sub-text">ID</span></th>
                                                    <th class="nk-tb-col sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="User: activate to sort column ascending"><span
                                                            class="sub-text">Filename</span></th>
                                                    <th class="nk-tb-col tb-col-mb sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Balance: activate to sort column ascending">
                                                        <span class="sub-text">Description</span>
                                                    </th>
                                                    <th class="nk-tb-col tb-col-md sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Phone: activate to sort column ascending"><span
                                                            class="sub-text">Uploaded by</span></th>
                                                    <th class="nk-tb-col tb-col-lg sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Verified: activate to sort column ascending">
                                                        <span class="sub-text">Last update</span>
                                                    </th>
                                                    <th class="nk-tb-col tb-col-md sorting" tabindex="0"
                                                        aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending"><span
                                                            class="sub-text">Final release</span></th>
                                                    <th class="nk-tb-col nk-tb-col-tools text-right sorting"
                                                        tabindex="0" aria-controls="DataTables_Table_1" rowspan="1"
                                                        colspan="1" aria-label=": activate to sort column ascending">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for file in meet.file_meet.all %}
                                                <tr class="nk-tb-item odd">
                                                    <td class="nk-tb-col"><span class="tb-lead">{{file.id}} </span>
                                    </div>
                                    </td>
                                    <td class="nk-tb-col">
                                        {% if file.archived == False %}
                                        <span class="tb-lead"><a class="gallery-image popup-image"
                                                href="{{file.project_file.url}}">{{file.name}}</a> <a
                                                href="{{file.project_file.url}}" target="_blank" data-toggle="tooltip"
                                                data-placement="top" title="Open in new tab"><em
                                                    class="icon ni ni-external"></em></a>
                                            {% else %}
                                            <span class="tb-lead" data-toggle="tooltip" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{% blocktranslate %}File has been archived. Please unarchive if is you would like to view it.{% endblocktranslate %}">{{file.name}}</span>
                                            {% endif %}
                                            {% if file.is_relase == True %}
                                            <span class="dot dot-success d-md-none ml-1" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{% blocktranslate %}Final release file.{% endblocktranslate %}"></span>
                                            {% else %}
                                            <span class="dot dot-primary d-md-none ml-1" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{% blocktranslate %}Preparatory version.{% endblocktranslate %}"></span>
                                            {% endif %}
                                        </span>
                                        <span><small><em
                                                    class="icon ni ni-calender-date"></em>&nbsp;{{file.created_at}}</small></span>
                                </div>
                            </div>
                            </td>
                            <td class="nk-tb-col tb-col-mb"><span>{{file.description|truncatechars:50}}</span></td>
                            <td class="nk-tb-col tb-col-md"><span>{{file.uploaded_by.first_name}}
                                    {{file.uploaded_by.last_name}}</span></td>
                            <td class="nk-tb-col tb-col-lg"><span data-toggle="tooltip" data-placement="top"
                                    title="{% blocktranslate %}Date the file was updated.{% endblocktranslate %}"><small><em
                                            class="icon ni ni-update"></em>&nbsp;{{file.updated_at}}</small>
                                </span></td>
                            {% if file.is_relase == True %}
                            <td class="nk-tb-col tb-col-md">
                                <span class="tb-status text-success">
                                    <span class="badge badge-pill badge-success">FINAL RELEASE</span>
                                </span>
                            </td>
                            {% else %}
                            <td class="nk-tb-col tb-col-md">
                                <span class="tb-status text-danger">
                                    <span class="badge badge-pill badge-primary" data-toggle="tooltip"
                                        data-placement="top"
                                        title="{% blocktranslate %}This has has not been set as the final version of the uploaded files.{% endblocktranslate %}">No</span>
                                </span>
                            </td>
                            {% endif %}

                            {% if file.archived == False %}
                            <td class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden"><a href="{{file.project_file.url}}"
                                            class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Open"><em class="icon ni ni-zoom-in"></em></a>
                                    </li>
                                    <li class="nk-tb-action-hidden"><a
                                            href="{% url 'project:project_file_detail' project.id file.id%}"
                                            class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Details"><em class="icon ni ni-info"></em></a>
                                    </li>
                                    <li class="nk-tb-action-hidden"><a
                                            href="{% url 'project:project_file_edit' project.id file.id%}"
                                            class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Edit"><em class="icon ni ni-edit"></em></a>
                                    </li>
                                    <div class="drodown"><a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                            data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a
                                                        href="{% url 'project:project_file_archive' project_id=project.id id=file.id%}"><em
                                                            class="icon ni ni-archive"></em><span>Archive</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                            </td>
                            {% else %}
                            <td class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <span class="badge badge-pill badge-danger" data-toggle="tooltip"
                                        data-placement="top"
                                        title="{% blocktranslate %}This is an archivated file. Click here to unarchive it.{% endblocktranslate %}">Archived</span>
                                    <li class="nk-tb-action-hidden"><a
                                            href="{% url 'project:project_file_unarchive' project_id=project.id id=file.id%}"
                                            class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Unarchive"><em
                                                class="icon ni ni-unarchive"></em></a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    </li>
                    </ul>
                    </td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>





                    <!--
                                        <table class="datatable-init table nk-tb-list nk-tb-ulist">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>File name</th>
                                                    <th>Description</th>
                                                    <th>Uploaded by</th>
                                                    <th>Upload date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for file in meet.file_meet.all %}
                                                <tr class="nk-tb-item">
                                                    <td>
                                                        {{file.id}}
                                                    </td>
                                                    <td>
                                                    {% if file.archived == True %}
                                                    <span style="font-weight: 400;" data-toggle="tooltip" data-placement="top" title="{% blocktranslate %}This is an archivated file, that means it is inactive. Unarchivate it if you would like to set it active again.{% endblocktranslate %}">{{file.name}}&nbsp;<em class="icon ni ni-archived-fill"></em></span>
                                                    {% else %}
                                                    <a href="{% url 'project:project_file_detail' project_id=project.id id=file.id %}"><strong>{{file.name}}</stong></a>
                                                    {% endif %}
                                                    </td>
                                                    <td>{{file.description|truncatechars:50}} </td>
                                                    <td>{{file.uploaded_by.first_name}} {{file.uploaded_by.last_name}}</td>
                                                    <td>{{file.created_at}}</td>
                                                    <td>
                                                        {% if file.archived == False %}
                                                        <a href="{{file.project_file.url}}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{% blocktranslate %}Open file in browser{% endblocktranslate %}" style="margin:2px;"><em class="icon ni ni-search"></em></a>
                                                        <a href="{% url 'project:project_file_detail' project.id file.id%}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{% blocktranslate %}View details of this file.{% endblocktranslate %}" style="margin:2px;"><em class="icon ni ni-eye"></em></a>
                                                        {% if x.role == '2' %}
                                                        <a href="{% url 'project:project_file_edit' project.id file.id%}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{% blocktranslate %}Edit file properties, like name, description, etc...{% endblocktranslate %}" style="margin:2px;"><em class="icon ni ni-edit"></em></a>
                                                        <a href="{% url 'project:project_file_archive' project.id file.id%}?note_id=0" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="{% blocktranslate %}Move to archives. File will not be deleted and can be unarchive anytime.{% endblocktranslate %}" style="margin:2px;"><em class="icon ni ni-archive-fill"></em></a>
                                                        {% endif %}
                                                        {% else %}
                                                        {% if x.role == '2' %}
                                                        <a href="{% url 'project:project_file_unarchive' project.id file.id%}?note_id=0" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title='{% blocktranslate %}This is an archivated file. Click here to unarchive it.{% endblocktranslate %}' style="margin:2px;"><em class="icon ni ni-unarchive"></em></a>
                                                        {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>




<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block mt-3">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-inner">
                                <div class="nk-block">
                                    <div class="nk-block-head-content nk-block-between pb-3">
                                        <h3 class="nk-block-title page-title">Meet / <strong
                                                class="text-primary small">Notes</strong></h3>
                                        <a href="{% url 'project:project_note_meet_create' project.id meet.id %}"
                                            class="btn btn-primary btn-xs">+ Add Meet Note </a>
                                    </div>

                                    <div class="bq-note">
                                        {% for note in notes %}
                                        {% if note.visible == True %}
                                        <div class="bq-note-item">
                                            {% if note.private == True %}
                                            <div class="bq-note-text bg-secondary text-white">
                                                {% else %}
                                                {% if note.user.profile.user_role == 1 %}
                                                <div class="bq-note-text shadow-sm"
                                                    style="border-left: 5px solid #3c8efe;">
                                                    {% elif note.user.profile.user_role > 1 %}
                                                    <div class="bq-note-text shadow-sm"
                                                        style="border-left: 5px solid #FDB913;">
                                                        {% endif %}

                                                        {% endif %}

                                                        <p>{{note.content}}</p>

                                                        {% if note.file_note.count > 0 %}
                                                        <hr
                                                            style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 3px solid #e5e5e5">
                                                        <span>Uploaded files: </span>

                                                        <ul>
                                                            <li>{% for x in note.file_note.all %}</li>
                                                        </ul>
                                                        {{x.project_file_name}}
                                                        {% if x.archived == False %}
                                                        <a href="{{x.project_file.url}}"><span
                                                                class="badge badge-outline-dark"><em
                                                                    class="icon ni ni-file-text-fill"></em>&nbsp;<strong>{{x}}</strong></span>
                                                        </a>
                                                        {% else %}
                                                        <span class="badge badge-outline-danger"><em
                                                                class="icon ni ni-file-text-fill"></em>&nbsp;<strong>{{x}}
                                                                - Archived</strong></span>

                                                        {% endif %}

                                                        {% endfor %}
                                                        {% endif %}


                                                    </div>
                                                    <div class="bq-note-meta" align="right">
                                                        <span class="bq-note-added">Added on <span
                                                                class="date">{{note.created_at}}
                                                                <span class="bq-note-sep sep">|</span>
                                                                <span class="text-primary font-weight-bold">by
                                                                    {{note.user.first_name}}
                                                                    {{note.user.last_name}}</span>
                                                                {% if note.user == request.user %}
                                                                <a href="{% url 'project:project_note_create_file' project_id=project.id id=note.id %}?meet_id={{meet.id}}"
                                                                    class="btn btn-primary btn-xs">Upload file for this
                                                                    note</a>


                                                                {% endif %}
                                                    </div>
                                                </div>
                                                {% else %}

                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {% endblock %}