{% extends "base_main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Kliens {{client.name}}
{% endblock %}


{% block content %}



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Calendar</h3>
                        </div><!-- .nk-block-head-content -->

                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            
                            {{events}}

                            <hr>

                            {% for event in events %}
                                {{event.start.dateTime}} - {{event.end.dateTime}} - {{event.summary}} - {{event.description}} - {{event.eventType}}
                                <br>
   
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->




{% endblock %}