{% extends "base_order.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% trans "Order details" %}
{% endblock %}

{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">{% trans "Order details" %} / <strong
                                        class="text-primary small">#{{order.id}}</strong></h3>
                                <div class="nk-block-des text-soft">
                                    <ul class="list-inline">
                                        <li><em
                                                class="icon ni ni-calender-date-fill"></em>&nbsp;{% trans "Order date" %}:
                                            <span class="text-base">{{order.created_at}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nk-block-head-content">
                                <a href="{% url 'order:order_index' %}"
                                    class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                        class="icon ni ni-arrow-left"></em><span>{% trans "Back" %}</span></a>
                                <a href="{% url 'order:order_index' %}" class="btn btn-icon btn-outline-light bg-white d-inline-flex
                                        d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                            </div>
                        </div>
                    </div>

                    <div class="card card-preview">
                        <div class="card-inner card-inner-lg">

                            <div class="nk-block">
                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title"><em
                                                class="icon ni ni-package-fill"></em>&nbsp;{% trans "Order details" %}
                                        </h6>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Customer" %}</span><span
                                                class="data-value">{{order.customer}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Product" %}</span><span
                                                class="data-value">{{order.name}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Price" %}</span><span
                                                class="data-value">{{order.price}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Quantity" %}</span><span
                                                class="data-value">{{order.quantity}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Paid" %}</span><span
                                                class="data-value">{{order.paid}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Order created" %}</span><span
                                                class="data-value">{{order.created}}</span></div>

                                    </div>

                                </div>
                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title"><em
                                                class="icon ni ni-user-alt-fill"></em>&nbsp;{% trans "Basics information" %}
                                        </h6>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Full Name" %}</span><span
                                                class="data-value">{{order.client.name}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Email" %}</span><span
                                                class="data-value">{{order.client.email}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Type" %}</span><span
                                                class="data-value">{{order.client.get_type_display}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "First name" %}</span><span
                                                class="data-value">{{order.client.first_name}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Last name" %}</span><span
                                                class="data-value">{{order.client.last_name}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Mother name" %}</span><span
                                                class="data-value">{{order.client.mother_name}}</span></div>
                                    </div>

                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Country" %}</span><span
                                                class="data-value">{{order.client.city}}</span></div>
                                    </div>

                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "State" %}</span><span
                                                class="data-value">{{order.client.state}}</span></div>
                                    </div>

                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">{% trans "Address" %}</span><span
                                                class="data-value">{{order.client.house_number}}</span></div>
                                    </div>

                                </div>

                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title"><em
                                                class="icon ni ni-building-fill"></em>&nbsp;{% trans "Billing information" %}
                                        </h6>
                                    </div>
                                    <div class="data-item" task>
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Billing name" %}</span><span
                                                class="data-value">{{order.client.name}}</span></div>

                                    </div>
                                    <div class="data-item" task>
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Billing country" %}</span><span
                                                class="data-value">{{order.client.billing_country}}</span></div>

                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Billing state" %}</span><span
                                                class="data-value">{{order.client.billing_state}}</span></div>

                                    </div>
                                    <div class="data-item" task>
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Billing address" %}</span><span
                                                class="data-value">{{order.client.billing_house_number}}</span>
                                        </div>

                                    </div>
                                    <div class="data-item" task>
                                        <div class="data-col"><span
                                                class="data-label">{% trans "Tax number" %}</span><span
                                                class="data-value">{{order.client.tax_number}}</span></div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->


{% endblock %}