{% extends "base_account.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}

{% endblock %}


{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">{% trans "My profile" %}</h3>
                                <div class="nk-block-des text-soft">
                                    <p>{% blocktrans %} This page contains all the information about your account. Your
                                        account
                                        informations are globally used for your registration.{% endblocktrans %}</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">{% trans "Account" %}</h4>
                                            <div class="nk-block-des">
                                                <p>{% blocktrans %}Basic info, like your name and address, that you use
                                                    on the
                                                    Legisly
                                                    Platform.{% endblocktrans %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content align-self-start d-lg-none"><a href="#"
                                                class="toggle btn btn-icon btn-trigger mt-n1"
                                                data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-block">
                                    <div class="nk-data data-list">
                                        <div class="data-head">
                                            <h6 class="overline-title">{% trans "Basics" %}</h6>
                                        </div>
                                        <div class="data-item">
                                            <div class="data-col">
                                                <span class="data-label">{% trans "Username"%}</span>
                                                <span class="data-value">{{request.user.username}}</span>
                                            </div>

                                        </div>
                                        <div class="data-item">
                                            <div class="data-col">
                                                <span class="data-label">{% trans "Display Name" %}</span>
                                                <span class="data-value">{{request.user.first_name}}
                                                    {{request.user.last_name}}</span>
                                            </div>

                                        </div>
                                        <div class="data-item">
                                            <div class="data-col"><span class="data-label">{% trans "Email" %}</span>
                                                <span class="data-value">{{request.user.email}}</span>
                                            </div>

                                        </div>

                                        <div class="data-item">
                                            <div class="data-col">
                                                <span class="data-label">{% trans "Last login" %}

                                                </span>
                                                <span class="data-value">{{request.user.last_login}}</span>
                                            </div>

                                        </div>


                                        <div class="mt-5">
                                            <a href="{% url 'account:account_edit' %}"
                                                class="btn btn-outline-primary btn-md">{% trans "Edit display name" %}</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg toggle-screen-lg"
                                data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="card-inner-group" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                                    aria-label="scrollable content"
                                                    style="height: auto; overflow: hidden;">
                                                    <div class="simplebar-content" style="padding: 0px;">


                                                        <div class="card-inner p-0 mt-lg-0 pt-lg-0 mt-sm-5 pt-sm-2">
                                                            <ul class="link-list-menu">
                                                                <li>
                                                                    <a class="active"
                                                                        href="{% url 'account:account_index' %}"><em
                                                                            class="icon ni ni-user-fill-c"></em>
                                                                        <span>
                                                                            {%trans "Account" %}
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li><a href="{% url 'password_change' %}">
                                                                        <em class="icon ni ni-lock-alt-fill"></em>
                                                                        <span>{% trans "Change password" %}
                                                                        </span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: auto; height: 445px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->



{% endblock %}