{% load i18n %}
<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-between g-3">
    <div class="nk-block-head-content">
      <h3 class="nk-block-title page-title">
        {% trans "Case" %} / <strong class="text-primary small">{{project.name}}</strong>
      </h3>
      <div class="nk-block-des text-soft">
        <ul class="list-inline">
          <li>{% trans "Client" %}: <span class="text-base">{{project.client}}</span></li>
          <li>
            {% trans "Date" %}: <span class="text-base">{{project.created_at}}</span>
          </li>
        </ul>
        <div class="dropdown">
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-auto mt-1">
            <ul class="link-list-plain">
              <li><a href="#"><em class="icon ni ni-call"></em>{% trans "Join meeting" %}</a></li>
              <li><a href="#"><em class="icon ni ni-copy"></em>{% trans "Copy link" %}</a></li>
              <li><a href="#"><em class="icon ni ni-help"></em>{% trans "Help" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-block-head-content">
      <a href="{% url 'project:project_index' %}" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
          class="icon ni ni-arrow-left"></em><span>{% trans "Back" %}</span></a><a href="{% url 'project:project_index' %}"
        class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
          class="icon ni ni-arrow-left"></em></a>
    </div>
  </div>
</div>
